!!!
%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Casper Jureskog Portfolio
    %link{:href => "/stylesheets/foundation.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"


  %body
    .row



      = partial 'partials/menu'
      %br
      = yield
      = partial 'partials/portfolio'
      = partial 'partials/about'
      -# = partial 'partials/header'

      %script{:src => "javascripts/jquery.js"}
      %script{:src => "javascripts/what-input.js"}
      %script{:src => "javascripts/foundation.js"}
      %script{:src => "javascripts/app.js"}
